.Notification
  position fixed !important
  transition opacity 300ms ease-out

.Notification__basic
  width 450px
  bottom 10px
  left 50%
  transform translateX(-50%)

.Notification__expanded
  width calc(100% - 20px)
  top 10px
  left 10px